[submodule "deps/time"]
	path = deps/time
	url = https://github.com/gernest/time
[submodule "deps/yaml"]
	path = deps/yaml
	url = https://github.com/kubkon/zig-yaml
[submodule "deps/msgpack-test-suite"]
	path = deps/msgpack-test-suite
	url = https://github.com/kawanet/msgpack-test-suite
